#main{
	width: auto;
	height: 1000px;
	background: black
}
#center{
	width: 500px;
	height: 500px;
	margin: auto;	
}
.parent{
	content: "";
	display: table;	
}
#mission{
	margin: auto;
margin-top: 100px;
	display: block;
	width: 80px;
	height: 80px;
	background: url(../images/mission.png)  no-repeat;
	background-size:80px;
	-ms-transition:width 0.5s, height 0.5s, -ms-transform 0.5s;   /* IE 9浏览器 */
        -moz-transition:width 0.5s ,height 0.5s, -moz-transform 0.5s; /*老版本火狐浏览器兼容*/
        -o-transition:width 0.5s, height 0.5s, -o-transform 0.5s;/* Opera与Chrom浏览器兼容*/
        -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 0.5s;/*Safari浏览器兼容*/
        transition:width 0.5s ,height 0.5s ,transform 0.5s;
}
#mission:hover{
	
	transform: rotate(360deg) scale(2,2);
		-ms-transform: rotate(360deg) scale(2,2);	/* IE 9 */
		-webkit-transform: rotate(360deg) scale(2,2);	/* Safari 和 Chrome */
		-o-transform: rotate(360deg) scale(2,2);	/* Opera */
		-moz-transform: rotate(360deg) scale(2,2);	/* Firefox */
}
#arrow{
	text-decoration:none;
	position: absolute;
	top:240px;
	left: 50%;
	margin-left: -85px;
	width: 170px;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.7);
}
span{
	line-height: 50px;
	padding-left: 20px;
	color: rgb(45,203,122);
}
img{
	position: absolute;
	top: 15px;
    right: 25px;
    -ms-transition:width 0.5s, height 0.5s, -ms-transform 0.5s;   /* IE 9浏览器 */
        -moz-transition:width 0.5s ,height 0.5s, -moz-transform 0.5s; /*老版本火狐浏览器兼容*/
        -o-transition:width 0.5s, height 0.5s, -o-transform 0.5s;/* Opera与Chrom浏览器兼容*/
        -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 0.5s;/*Safari浏览器兼容*/
        transition:width 0.5s ,height 0.5s ,transform 0.5s;
}
#arrow:hover{
	border: 1px solid rgba(255,255,255,1);
}
#arrow:hover #img{
	transform: translate(20px,0);
	-ms-transform: translate(20px,0px);		/* IE 9 */
		-webkit-transform: translate(20px,0px);	/* Safari and Chrome */
		-o-transform: translate(20px,0px);		/* Opera */
		-moz-transform: translate(20px,0px);		/* Firefox */		
}
.point{
	position: absolute;
	background-color: white;
	width: 1px;
	height: 0px;
	-ms-transition:width 0.5s, height 0.5s, -ms-transform 0.5s;   /* IE 9浏览器 */
    -moz-transition:width 0.5s ,height 0.5s, -moz-transform 0.5s; /*老版本火狐浏览器兼容*/
    -o-transition:width 0.5s, height 0.5s, -o-transform 0.5s;/* Opera与Chrom浏览器兼容*/
    -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 0.5s;/*Safari浏览器兼容*/
    transition:width 0.5s ,height 0.5s ,transform 0.5s;
}
#point1{
	top: 0px;
	left: 50%;
	margin-left: -343px;
}
#arrow:hover #point1{
	width: 1px;
	height: 1px;
	transform: scale(171,1) translate(2px,0) ;
	-ms-transform:scale(171,1) translate(2px,0px);		/* IE 9 */
	-webkit-transform:scale(171,1) translate(2px,0px);	/* Safari and Chrome */
	-o-transform:scale(171,1) translate(2px,0px);		/* Opera */
	-moz-transform:scale(171,1) translate(2px,0px);	
}
#point2{
	top: -79px;
	left: 100%;
	margin-left: -1px;
}
#arrow:hover #point2{
	width: 1px;
	height: 1px;
	transform: scale(1,52) translate(0px,2px) ;
	-ms-transform:scale(1,52) translate(0px,2px);		/* IE 9 */
	-webkit-transform:scale(1,52) translate(0px,2px);	/* Safari and Chrome */
	-o-transform:scale(1,52) translate(0px,2px);		/* Opera */
	-moz-transform:scale(1,52) translate(0px,2px);	    /* Firefox */
}
#point3{
	top: 100%;
	margin-top: 0px;
	right: 50%;
	margin-right: -339px;
}
#arrow:hover #point3{
	width: 1px;
	height: 1px;
	transform: scale(169,1) translate(-2px,0) ;
	-ms-transform:scale(169,1) translate(-2px,0px);		/* IE 9 */
	-webkit-transform:scale(169,1) translate(-2px,0px);	/* Safari and Chrome */
	-o-transform:scale(169,1) translate(-2px,0px);		/* Opera */
	-moz-transform:scale(169,1) translate(-2px,0px);	/* Firefox */
}
#point4{
	left: 0%;
	top: 129px;
	margin-bottom: -101px;
	margin-right: 1px;
}
#arrow:hover #point4{
	width: 1px;
	height: 1px;
	transform: scale(1,52) translate(0px,-2px) ;
	-ms-transform:scale(1,52) translate(0px,-2px);		/* IE 9 */
	-webkit-transform:scale(1,52) translate(0px,-2px);	/* Safari and Chrome */
	-o-transform:scale(1,52) translate(0px,-2px);		/* Opera */
	-moz-transform:scale(1,52) translate(0px,-2px);	
}
